@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap");
/* Global Styles */
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #c3073f;
  --secondary-color: #950740;
  --accent-color: #6f2232;
  --text-color: #1a1a1d;
  --generic: #4e4e50;
  --simple-font: "Kanit", sans-serif;
  background-color: var(--accent-color);
  font-size: 13px;
  overflow: hidden;
}

body {
  font-family: "Rubik Mono One", monospace;
  color: var(--text-color);
  /* font-family: "Kanit", sans-serif; */
  font-weight: 200;
  font-style: normal;
  margin: 0;
  padding: 0;
  min-width: 375px;
}

.hidden {
  display: none;
}

/* Banner and Nav */

.banner {
  margin: 0;
  padding: 0.25rem;

  font-weight: 500;
  background-color: #423e37;
  position: sticky;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
}

.banner div {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100vw;
  max-width: 1080px;
}

.banner span {
  color: #e3b23c;
  margin: 0.5rem;
  font-size: 2rem;
  padding: 0.5rem;
}

.nav {
  display: none;
}

.nav ul {
  list-style: none;
  display: flex;
  align-content: space-between;
  padding: 0px 5px;
}

.nav li {
  padding: 0px 10px;
}

.nav a,
.nav-hmbgr a {
  color: #e3b23c;
  text-decoration: none;
  font-weight: 200;
  font-size: 2rem;
}

.hamburger {
  background-image: url("/icons/menu.svg");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-size: 100%;
  background-position: 0rem 0.5rem;
  border: 0;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: 0.5rem;
  min-width: 4rem;
  min-height: 4rem;
}

.open {
  display: block;
}

.hamburger:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-hmbgr {
  display: none;
  position: fixed;
  top: 0;
  margin-top: 4rem;
  width: 100vw;
}

.nav-hmbgr ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: space-between;
  padding: 0;
  background-color: #423e37;
}

.nav-hmbgr a {
  display: block;
  padding: 1rem 0;
}

.nav-hmbgr a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* STAY DOWN!!! Nothing Useful up there! STAY DOWN!! */
/* STAY DOWN!!! Nothing Useful up there! STAY DOWN!! */

/* STAY DOWN!!! Nothing Useful up there! STAY DOWN!! */
/* STAY DOWN!!! Nothing Useful up there! STAY DOWN!! */

/* STAY DOWN!!! STAY DOWN!! */
/* STAY DOWN!!! STAY DOWN!! */

/* Main Content */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-content {
  width: 100vw;
  background-color: rgb(243, 243, 243);
  padding: 0 1rem;
  height: 102vh;
  border-radius: 12px;
}

/* Hero Card */

.hero {
  max-height: 100vh;
}

.bg-img {
  display: block;
  max-width: 100%;
  height: 8vh;
}

.code-img {
  display: inline-block;
  fill: var(--primary-color);
  grid-area: h-icon;
  height: 7.5rem;
  width: 7.5rem;
  padding: 1rem 0.5rem;
}

.headshot {
  position: relative;
  display: inline;
  top: -5rem;
  left: 0;
  border: 0.5rem solid var(--primary-color);
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

.hero-card {
  position: relative;
  top: -8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 85vh;
}

.intro {
  padding-right: 1rem;
  border-radius: 15px;
  text-align: right;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 0.25fr 1fr 0.25fr;
  gap: 0px 0px;
  grid-template-areas:
    "h-title h-title"
    "h-icon h-desc"
    "h-misc h-misc";
}

.intro h1 {
  grid-area: h-title;
  align-self: end;
}

.intro h2 {
  grid-area: h-desc;
  justify-self: end;
}

.intro h3 {
  text-align: center;
  align-self: baseline;
  grid-area: h-misc;
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.h-text {
  padding: 1rem;
  border-radius: 15px;
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 0.5fr;
  gap: 1rem 0px;
  grid-template-areas:
    "header"
    "footer";
}

.h-text h2 {
  grid-area: header;
  text-align: center;
  margin: 0.25rem 0;
}

.h-text p {
  grid-area: textfield;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
}

.skill-svg {
  width: 75%;
  height: 75%;
  max-width: 90px;
  fill: var(--secondary-color);
}

#css3-icon {
  scale: 1.2;
}

#react-logo {
  scale: 0.8;
}

.about p {
  margin: 0;
}

.cta-btn a,
#close {
  font-size: 1.3rem;
  position: relative;
  bottom: 2rem;
  text-decoration: none;
  padding: 1rem 0.5rem;
  text-align: center;
  font-weight: 500;
  display: block;
  width: 10rem;
  border-radius: 15px;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.cta-btn a:hover,
.social-links a:hover,
.prj-link a:hover,
.nav-btn:hover,
#top a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

/* Projects */

.project-container {
  display: flex;
  align-content: center;
}
.project {
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects h1 {
  padding-top: 2rem;
}

.prj-head {
  display: block;
  font-size: 1.1em;
}

.projects .section-content {
  background-color: #1a1a1d;
  color: white;
  border-radius: 0;
}

.prj-link a,
.nav-btn {
  text-decoration: none;
  display: inline-block;
  font-family: var(--simple-font);
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  width: 9.5rem;
  padding: 1rem;
  color: white;
  background-color: var(--primary-color);
}

#live {
  border-radius: 0 0 0 15px;
}

#git {
  border-radius: 0 0 15px 0;
}

#top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#close {
  position: static;
  text-decoration: none;
  margin-top: 1rem;
  display: inline-block;
  font-family: var(--simple-font);
  font-weight: 600;
  font-size: 1.6rem;
  max-width: 4rem;
  color: white;
  background-color: var(--primary-color);
}

.prj-tech {
  display: flex;
  margin-top: 0.5rem;
  border-radius: 15px;
  background-color: var(--accent-color);
  padding: 0.25rem;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  max-width: 700px;
  font-size: 0.9rem;
}

.prj-tech li {
  padding: 7px 4px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--primary-color);
}

.prj-img {
  display: block;
  border: var(--secondary-color) 2px solid;
  max-width: 19rem;
  border-radius: 15px 15px 0 0;
}

.prj-desc {
  font-family: var(--simple-font);
  font-weight: 600;
  font-size: 1.1em;
  padding: 0 2rem;
  align-self: center;
  height: 9.25rem;
  margin: 0 2rem;
  overflow-y: scroll;
  margin-bottom: 1rem;
}

.nav-btn {
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 15px;
}

.nav-container {
  width: 25rem;
  display: flex;
  justify-content: space-evenly;
}

/* Contact  Styles */

.social-links-container {
  display: flex;
  flex-direction: row-reverse;
}

.social-links {
  border-radius: 15px;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0.5rem;
}

.social-links a {
  display: block;
  background-size: 100%;
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  cursor: pointer;
}

.github {
  background-image: url("/icons/github.svg");
}

.linkedin {
  background-image: url("/icons/linkedin.svg");
}

/* Media Query */

/* Small Tablet/Large Phone */

@media screen and (min-width: 768px) {
  :root {
    font-size: 19px;
  }

  .section-content {
    max-width: 1000px;
  }
}

/* Large Tablet/Small Laptop */

@media screen and (min-width: 992px) {
  .intro h3 {
    text-align: right;
    align-self: baseline;
  }

  .about {
    flex-direction: row;
  }
  .social-links {
    flex-direction: column;
    max-width: 70vw;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1rem;
    margin: 0.5rem 0;
  }
  .skill-svg {
    max-width: 150px;
  }
}

/* Desktop/Laptop */

@media screen and (min-width: 1200px) {
}

/* Height Queries */

@media screen and (max-height: 666px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (min-height: 667px) {
  :root {
    font-size: 13px;
  }
}

@media screen and (min-height: 850px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (min-height: 975px) {
  :root {
    font-size: 17px;
  }
  .bg-img {
    height: 15vh;
  }

  .cta-btn a {
    bottom: 2rem;
  }
}

@media screen and (min-height: 1130px) {
  :root {
    font-size: 19px;
  }
}

@media screen and (min-height: 1200px) {
  :root {
    font-size: 22px;
  }
}
